---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog | Juan Realpe - Portfolio">
  <section class="flex justify-center w-full mt-8 sm:mt-16 my-4 sm:my-8 p-4">
    <div class="w-full max-w-screen-lg">
      <div class="mb-6 sm:mb-8">
        <h2 class="flex items-center gap-x-4 sm:gap-x-6 text-2xl sm:text-3xl font-bold leading-relaxed text-bluedev dark:text-whitedev">
           Sobre mi
        </h2>
        <p class="mt-3 sm:mt-4 text-base sm:text-lg text-bluedev dark:text-gray-400">
          Mi nombre es Juan Camilo Realpe y soy un estudiante de an谩lisis y desarrollo de software con un fuerte deseo de aprender y dominar nuevas tecnolog铆as. Mis habilidades incluyen HTML, CSS, JavaScript y frameworks como React y Astro, as铆 como CSS con TailwindCSS, Bootstrap y Datatables. Tengo experiencia en desarrollo backend con PHP y Laravel, JavaScript con NodeJS y Express, y en bases de datos tanto relacionales como no relacionales.
          Adem谩s, cuento con habilidades en dise帽o de interfaces de usuario intuitivas y responsivas, optimizaci贸n del rendimiento de aplicaciones web, integraci贸n de APIs y servicios externos, control de versiones con Git y desarrollo de aplicaciones full stack. Mi enfoque se centra en la creaci贸n de soluciones eficientes y escalables, y siempre busco nuevas oportunidades para expandir mis conocimientos y habilidades en el campo del desarrollo de software.
        </p>
      </div>
      <div>
        <h2 class="flex items-center gap-x-4 sm:gap-x-6 text-2xl sm:text-3xl font-semibold leading-relaxed text-bluedev dark:text-whitedev">
          <span></span>Habilidades
        </h2>
        <div class="bg-gray-800 text-white p-6 sm:p-8 rounded-md mt-4">
          <div class="grid grid-cols-1 text-sm sm:text-base">
            <p>
              <span class="text-orange-500">const</span>
              aboutMe
              <span class="text-[#79C0FF]"> = </span>
              {"{"}
            </p>
            <div class="rounded-md pl-4">
              <p>
                <span class="text-[#79C0FF]"> code </span>
                : [
                <span class="text-[#A5D6FF]"> "HTML" </span>,
                <span class="text-[#A5D6FF]"> "CSS" </span>,
                <span class="text-[#A5D6FF]"> "JavaScript" </span>,
                <span class="text-[#A5D6FF]"> "PHP" </span>,
                <span class="text-[#A5D6FF]"> "Python" </span>
                ],
              </p>
            </div>
            <div class="rounded-md pl-4">
              <span class="text-[#79C0FF]"> technologies</span>{": {"}
              <div class="rounded-md pl-4">
                <span class="text-[#79C0FF]"> FrontEnd</span>{": {"}
                <ul class="text-white pl-4">
                  <li>
                    <span class="text-[#79C0FF]"> js</span>
                    : [
                    <span class="text-[#A5D6FF]"> "React" </span>,
                    <span class="text-[#A5D6FF]"> "Astro" </span>
                    ]
                  </li>
                  <li>
                    <span class="text-[#79C0FF]"> css</span>
                    : [
                    <span class="text-[#A5D6FF]"> "Tailwind" </span>,
                    <span class="text-[#A5D6FF]"> "Bootstrap" </span>
                    ]
                  </li>
                </ul>
                {"},"}
              </div>
              <div class="rounded-md pl-4">
                <span class="text-[#79C0FF]"> BackEnd</span>{": {"}
                <ul class="text-white pl-4">
                  <li>
                    <span class="text-[#79C0FF]"> php</span>
                    : [
                    <span class="text-[#A5D6FF]"> "Laravel" </span>
                    ]
                  </li>
                  <li>
                    <span class="text-[#79C0FF]"> js</span>
                    : [
                    <span class="text-[#A5D6FF]"> "NodeJS" </span>,
                    <span class="text-[#A5D6FF]"> "Express" </span>,
                    <span class="text-[#A5D6FF]"> "Prisma" </span>
                    ]
                  </li>
                  <li>
                    <span class="text-[#79C0FF]"> python</span>
                    : [
                    <span class="text-[#A5D6FF]"> "Django" </span>
                    ]
                  </li>
                </ul>
                {"},"}
              </div>
              <div class="rounded-md pl-4 flex items-center">
                <span class="text-[#79C0FF]"> DataBases</span>
                :[
                <p class="text-white">
                  <span class="text-[#A5D6FF]"> "MySQL" </span>,
                  <span class="text-[#A5D6FF]"> "NoSQL" </span>
                </p>
                ]
              </div>
              <p>{"},"}</p>
            </div>
            <div class="rounded-md pl-4">
              <p>
                <span class="text-[#79C0FF]"> currentOccupation</span>
                [
                <span class="text-[#A5D6FF]"> "Estudiante de An谩lisis y Desarrollo de Software, y Desarrollador FullStack" </span>
                ]
              </p>
            </div>
            {"}"}
          </div>
        </div>
      </div>

      <div class="mt-8">
        <h2 class="flex items-center gap-x-4 sm:gap-x-6 text-2xl sm:text-3xl font-semibold leading-relaxed text-bluedev dark:text-whitedev">
          <span></span> Proyectos
        </h2>
        <div class="grid grid-cols-1 gap-6 mt-6">
          <div class="bg-gray-800 text-white rounded-lg overflow-hidden shadow-lg flex flex-col sm:flex-row transform hover:scale-105 transition-transform duration-300">
            <img src="https://source.unsplash.com/random/400x300?project" alt="TaskTrack" class="w-full sm:w-1/3 h-40 object-cover">
            <div class="p-4 flex flex-col justify-between">
              <div>
                <h3 class="text-xl font-bold mb-2">TaskTrack</h3>
                <p class="text-gray-400 mb-4">
                  TaskTrack es una aplicaci贸n web dise帽ada para facilitar la gesti贸n y organizaci贸n de tareas. Permite a los usuarios crear, leer, actualizar y eliminar (CRUD) tareas de manera eficiente. Desarrollado con Django para la l贸gica del servidor y la gesti贸n de datos, y Bootstrap para crear una interfaz de usuario atractiva y responsiva.
                </p>
              </div>
              <div>
                <h4 class="text-lg font-semibold text-neonblue mb-2">Tecnolog铆as utilizadas:</h4>
                <div class="flex flex-wrap gap-3">
                  <div class="flex items-center bg-gradient-to-r from-blue-600 to-blue-800 text-white px-3 py-1 rounded-lg text-sm font-medium shadow-lg hover:shadow-xl transition-shadow duration-300">
                    <img src="https://cdn-icons-png.flaticon.com/512/5968/5968322.png" alt="Django" class="w-5 h-5 mr-2">
                    Django
                  </div>
                  <div class="flex items-center bg-gradient-to-r from-green-600 to-green-800 text-white px-3 py-1 rounded-lg text-sm font-medium shadow-lg hover:shadow-xl transition-shadow duration-300">
                    <img src="https://cdn-icons-png.flaticon.com/512/5968/5968350.png" alt="Python" class="w-5 h-5 mr-2">
                    Python
                  </div>
                  <div class="flex items-center bg-gradient-to-r from-purple-600 to-purple-800 text-white px-3 py-1 rounded-lg text-sm font-medium shadow-lg hover:shadow-xl transition-shadow duration-300">
                    <img src="https://cdn-icons-png.flaticon.com/512/5968/5968672.png" alt="Bootstrap" class="w-5 h-5 mr-2">
                    Bootstrap
                  </div>
                  <div class="flex items-center bg-gradient-to-r from-yellow-500 to-yellow-700 text-white px-3 py-1 rounded-lg text-sm font-medium shadow-lg hover:shadow-xl transition-shadow duration-300">
                    <img src="https://cdn-icons-png.flaticon.com/512/5968/5968342.png" alt="SQLite" class="w-5 h-5 mr-2">
                    SQLite
                  </div>
                </div>
                <div class="mt-4 flex gap-2">
                  <a href="https://github.com/juanrealpe972/crud_django" class="text-white bg-neonblue hover:bg-blue-700 rounded-full px-4 py-2 transition-colors duration-300">GitHub</a>
                  <a href="https://www.yoursite.com" class="text-white bg-neonblue hover:bg-blue-700 rounded-full px-4 py-2 transition-colors duration-300">Sitio Web</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      

    </div>
  </section>
</Layout>