---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog | Juan Realpe - Portfolio">
  <section class="flex justify-center w-full mt-16 my-8">
    <div class="w-full max-w-screen-lg p-4">
      <div class="mb-8">
        <h2 class="flex items-center gap-x-6 text-3xl font-bold leading-relaxed text-bluedev dark:text-whitedev">
          游븴 About
        </h2>
        <p class="mt-4 text-lg text-bluedev dark:text-gray-400">
          Mi nombre es Juan Camilo Realpe y soy un estudiante de an치lisis y desarrollo de software con un fuerte deseo de aprender y dominar nuevas tecnolog칤as. Mis habilidades incluyen HTML, CSS, JavaScript y frameworks como React y Astro, as칤 como CSS con TailwindCSS, Bootstrap y Datatables. Tengo experiencia en desarrollo backend con PHP y Laravel, JavaScript con NodeJS y Express, y en bases de datos tanto relacionales como no relacionales, manejando MySQL y NoSQL.

          Adem치s, cuento con habilidades en dise침o de interfaces de usuario intuitivas y responsivas, optimizaci칩n del rendimiento de aplicaciones web, integraci칩n de APIs y servicios externos, control de versiones con Git y desarrollo de aplicaciones full stack. Mi enfoque se centra en la creaci칩n de soluciones eficientes y escalables, y siempre busco nuevas oportunidades para expandir mis conocimientos y habilidades en el campo del desarrollo de software.
        </p>
      </div>
      <div>
        <h2 class="items-center leading-relaxed text-bluedev dark:text-whitedev flex gap-x-6 text-3xl font-semibold">
          <span>游닄</span>Skills
        </h2>
        <div class="bg-gray-800 text-white p-8 rounded-md">
          <div class="grid grid-cols-1">
            <p>
              <span class="text-orange-500">const</span>
              aboutMe
              <span class="text-[#79C0FF]"> = </span>
              {"{"}
            </p>
            <div class="rounded-md pl-4">
              <p>
                <span class="text-[#79C0FF]"> code </span>
                : [
                <span class="text-[#A5D6FF]"> "HTML" </span>,
                <span class="text-[#A5D6FF]"> "CSS" </span>,
                <span class="text-[#A5D6FF]"> "JavaScript" </span>,
                <span class="text-[#A5D6FF]"> "PHP" </span>,
                <span class="text-[#A5D6FF]"> "Python" </span>
                ],
              </p>
            </div>
            <div class="rounded-md pl-4">
              <p></p>
              <span class="text-[#79C0FF]"> technologies</span>{": {"}
              <div class="rounded-md pl-5">
                <span class="text-[#79C0FF]"> FrontEnd</span>{": {"}
                <ul class="text-white pl-6">
                  <li>
                    <span class="text-[#79C0FF]"> js</span>
                    : [
                    <span class="text-[#A5D6FF]"> "React" </span>,
                    <span class="text-[#A5D6FF]"> "Astro" </span>
                    ]
                  </li>
                  <li>
                    <span class="text-[#79C0FF]"> css</span>
                    : [
                    <span class="text-[#A5D6FF]"> "Tailwind" </span>,
                    <span class="text-[#A5D6FF]"> "Bootstrap" </span>
                    ]
                  </li>
                </ul>
                {"},"}
              </div>
              <div class="rounded-md pl-5">
                <span class="text-[#79C0FF]"> BackEnd</span>{": {"}
                <ul class="text-white pl-6">
                  <li>
                    <span class="text-[#79C0FF]"> php</span>
                    : [
                    <span class="text-[#A5D6FF]"> "Laravel" </span>
                    ]
                  </li>
                  <li>
                    <span class="text-[#79C0FF]"> js</span>
                    : [
                    <span class="text-[#A5D6FF]"> "NodeJS" </span>,
                    <span class="text-[#A5D6FF]"> "Express" </span>,
                    <span class="text-[#A5D6FF]"> "Prisma" </span>
                    ]
                  </li>
                  <li>
                    <span class="text-[#79C0FF]"> python</span>
                    : [
                    <span class="text-[#A5D6FF]"> "Django" </span>
                    ]
                  </li>
                </ul>
                {"},"}
              </div>
              <div class="rounded-md pl-4 flex items-center">
                <span class="text-[#79C0FF]"> DataBases</span>
                :[
                <p class="text-white">
                  <span class="text-[#A5D6FF]"> "MySQL" </span>,
                  <span class="text-[#A5D6FF]"> "NoSQL" </span>
                </p>
                ]
              </div>
              <p>{"},"}</p>
            </div>
            <div class="rounded-md pl-4">
              <p>
                <span class="text-[#79C0FF]"> currentOccupation</span>
                [
                <span class="text-[#A5D6FF]"> "Estudiante de An치lisis y Desarrollo de Software, y Desarrollador FullStack" </span>
                ]
              </p>
            </div>
            {"}"}
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
