---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog | Juan Realpe - Portfolio">
    <section class="flex justify-center w-full">
        <div class="w-[900px] bg-white dark:bg-dark-gray">
            <h1 class="leading-relaxed">Proyectos</h1>
            <p class="text-light dark:text-dark">
                ¡Hey!¿Que tal? estos son mis proyectos como desarrollador,
                checkea alguno
            </p>
        </div>
    </section>
</Layout>
