---
import Layout from "../layouts/Layout.astro";
---

<Layout title="projects | Juan Realpe - Portfolio">
    <section class="flex justify-center w-full">
        <div class="w-[900px]">
            <h1 class="leading-relaxed">Proyectos</h1>
            <p class="text-white">
                ¡Hey!¿Que tal? estos son mis proyectos como desarrollador,
                checkea alguno
            </p>
        </div>
    </section>
</Layout>
