---
import Layout from "../layouts/Layout.astro";
import About from "../components/home/About.astro";
---

<Layout title="Portfolio | Juan Realpe">
	<main class="lg:pt-6 pb-14 mx-auto max-w-screen-xl">
		<About/>
	</main>	
</Layout>
