---
import { info } from "../data/info";

import Layout from "../layouts/Layout.astro";
import About from "../components/home/About.astro";
---

<Layout title="Portfolio | Juan Realpe">
	<main>
		<About name={info.name} about={info.about} />
	</main>	
</Layout>