---
import { IAboutProps } from "../../types/index";
const { name, about } = Astro.props as IAboutProps;
---

<section class="mx-10">
    <p class="dark:text-light mt-[117px]">Hey,soy</p>
    <h1>{name}</h1>
    <p class="dark:text-light text-lg mb-16">{about}</p>
</section>
