---

---

<footer class="flex justify-center h-12 mb-5 flex-col text-center">
    <p class="font-medium text-gray-400 dark:text-gray-200">© 2024 By Juan Realpe. Todos los derechos reservados.</p>
    <p class="text-sm text-gray-400 dark:text-gray-300">Desde Colombia con amor.❤️</p>
</footer>
