---
import Themetoggle from "./ThemeToggle.astro";
---

<header class="flex items-center justify-between my-3 mx-10 transition-opacity duration-75">
  <a href="/" class="text-xl dark:text-light text-gray-600 font-bold font-outfit flex items-center">
    <img src="logoJuanSinFondo.png" class="w-5 h-5 mr-2" alt="">
    Juan <span class="text-orangedev">Realpe</span>
  </a>

  <button id="menu-toggle" class="block lg:hidden text-xl text-gray-600 dark:text-gray-200 hover:text-orangedev dark:hover:text-orangedev">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
    </svg>
  </button>

  <nav id="nav-menu" class="hidden lg:flex flex-grow items-center justify-center">
    <ul class="flex items-center font-medium">
      <li>
        <a href="/" class="p-4 text-gray-600 dark:text-gray-200 block text-lg hover:text-orangedev dark:hover:text-orangedev">Inicio</a>
      </li>
      <li>
        <a href="/blog" class="p-4 text-gray-600 dark:text-gray-200 block text-lg hover:text-orangedev dark:hover:text-orangedev">Sobre mi</a>
      </li>
      <li>
        <a href="/contact" class="p-4 text-gray-600 dark:text-gray-200 block text-lg hover:text-orangedev dark:hover:text-orangedev">Contacto</a>
      </li>
    </ul>
  </nav>
  <Themetoggle />
</header>

<nav id="mobile-menu" class="fixed inset-0 bg-white dark:bg-gray-700 bg-opacity-80 z-50 hidden lg:hidden overflow-hidden">
  <div class="flex justify-end p-4 w-full">
    <button id="menu-close" class="text-gray-600 dark:text-gray-200">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
  <ul class="flex flex-col items-center w-full mt-10">
    <li>
      <a href="/" class="p-4 text-gray-600 dark:text-gray-200 block text-lg hover:text-orangedev dark:hover:text-orangedev">Home</a>
    </li>
    <li>
      <a href="/blog" class="p-4 text-gray-600 dark:text-gray-200 block text-lg hover:text-orangedev dark:hover:text-orangedev">Blog</a>
    </li>
    <li>
      <a href="/Coctact" class="p-4 text-gray-600 dark:text-gray-200 block text-lg hover:text-orangedev dark:hover:text-orangedev">Contacto</a>
    </li>
  </ul>
</nav>
