<header class="flex items-center justify-between my-3 mx-10 transition-opacity duration-75">
  <a href="/" class="text-xl dark:text-light font-bold font-outfit">
    Juan <span class="text-orangedev">Realpe</span>
  </a>

  <button id="menu-toggle" class="block lg:hidden text-xl text-gray-600 dark:text-gray-200 hover:text-orangedev dark:hover:text-orangedev">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
    </svg>
  </button>

  <nav id="nav-menu" class="hidden lg:flex flex-grow items-center justify-center">
    <ul class="flex items-center font-medium">
      <li>
        <a href="/" class="p-4 text-gray-600 dark:text-gray-200 block text-lg hover:text-orangedev dark:hover:text-orangedev">Inicio</a>
      </li>
      <li>
        <a href="/Blog" class="p-4 text-gray-600 dark:text-gray-200 block text-lg hover:text-orangedev dark:hover:text-orangedev">Sobre mi</a>
      </li>
      <li>
        <a href="/Contact" class="p-4 text-gray-600 dark:text-gray-200 block text-lg hover:text-orangedev dark:hover:text-orangedev">Contacto</a>
      </li>
    </ul>
  </nav>

  <div class="flex items-center">
    <button id="theme-toggle" type="button" class="text-orangedev hover:bg-gray-200 dark:text-orangedev dark:hover:bg-gray-700 focus:outline-none rounded-lg text-sm p-2.5">
      <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
      </svg>
      <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path>
      </svg>
    </button>
<!-- 
    <button id="language-toggle" class="text-xl text-gray-600 dark:text-gray-200 hover:text-orangedev dark:hover:text-orangedev ml-4">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v16h16V4H4zm14 8h-4v2h4v-2zM6 12h4v2H6v-2zM6 8h4V6H6v2zm8 4h4v2h-4v-2z" />
      </svg>
    </button> -->
  </div>
</header>

<nav id="mobile-menu" class="fixed inset-0 bg-white dark:bg-gray-700 bg-opacity-80 z-50 hidden lg:hidden overflow-hidden">
  <div class="flex justify-end p-4 w-full">
    <button id="menu-close" class="text-gray-600 dark:text-gray-200">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
  <ul class="flex flex-col items-center w-full mt-10">
    <li>
      <a href="/" class="p-4 text-gray-600 dark:text-gray-200 block text-lg hover:text-orangedev dark:hover:text-orangedev">Home</a>
    </li>
    <li>
      <a href="/Blog" class="p-4 text-gray-600 dark:text-gray-200 block text-lg hover:text-orangedev dark:hover:text-orangedev">Blog</a>
    </li>
    <li>
      <a href="/Contact" class="p-4 text-gray-600 dark:text-gray-200 block text-lg hover:text-orangedev dark:hover:text-orangedev">Contacto</a>
    </li>
  </ul>
</nav>
